.active-link {
    transition: color ease-in-out 300ms;
    color: #bc9f4c;
    padding: 1rem;
    margin-bottom: .15rem;
    border-bottom: 2px solid #bc9f4c;
}

.link {
    text-decoration: none;
    padding: 1rem;
    border-bottom: 2px solid transparent;
}